.bullet__container {
  display: flex;
  overflow: auto;
}

.bullet__item,
.bullet__item--image {
  width: 80px;
  min-width: 80px;
}

.bullet__container::-webkit-scrollbar {
  height: 4px;
}

.bullet__container::-webkit-scrollbar-track,
.bullet__container::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #dfdfdf;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
}

.bullet__container::-webkit-scrollbar-thumb {
  background-color: #797979;
}

.bullet__item--title {
  color: #e54318;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-decoration: none !important;
}

.bullet__item {
  margin-right: 15px;
}

.bullet__item--link {
  text-decoration: none !important;
  color: #e54318;
  font-weight: bold;

}

@media screen and (min-width: 760px) {

  .bullet__item,
  .bullet__item--image {
    width: 100px;
    min-width: 100px;
  }
}